<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }} - Blog</title>
    {% else %}
    <title>Welcome to my Blog</title>
    {% endif %}
    <!-- https://fontawesome.com/-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- favicon -->
  <link rel="shortcut icon" type='image/x-icon' href="{{ url_for('static', filename='img/Blog.ico') }}">
  <!-- External CSS -->
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">-->
</head>
<body>
    <div>
        Blog
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
    <footer>
        <!-- https://www.toptal.com/designers/htmlarrows/symbols/ -->
        &#9775; 2019 Blog<br>
        <!--&Hscr;&Mscr;-->
    </footer>
</body>
</html>